<script type="text/javascript" src="includes/jspdf.min.js"></script>
<script type="text/javascript" src="includes/html2canvas.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
  function pdfToHTML(){
  var pdf = new jsPDF('p', 'pt', 'letter');
  source = $('#testdiv')[0];
  specialElementHandlers = {
    '#bypassme': function(element, renderer){
      return true
    }
  }
  margins = {
      top: 50,
      left: 60,
      width: 545
    };
  pdf.fromHTML(
      source // HTML string or DOM elem ref.
      , margins.left // x coord
      , margins.top // y coord
      , {
        'width': margins.width // max width of content on PDF
        , 'elementHandlers': specialElementHandlers
      },
      function (dispose) {
        // dispose: object with X, Y of the last line add to the PDF
        //          this allow the insertion of new lines after html
          pdf.save('Reporte.pdf');
        }
    )   
  }
</script>
<div class="container-fluid">
   <div class="row div-padding">
     <div class="alert alert-{{alert}}" ng-show="msjAlert">{{message}}</div>
   </div>
   <div class="row">
    <a href ng-click="javascript:pdfToHTML()" class="btn btn-warning col-md-2 pull-right blinding" role="button">Generar PDF</a>
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
       <input ng-model="searchText" type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
     </div>
    <table  class=" col-lg-12 table table-bordered table-hover table-striped" at-table at-paginated  at-list="AuditList  | filter:searchText " at-config="configTable">
       <thead></thead>
       <tbody>
         <tr>
           <td at-sortable  at-title='User' width='150' >{{item.user}}</td>
           <td at-sortable  at-title='Hostname' width='150' >{{item.hostname}}</td>
           <td at-sortable  at-title='Ip' width='150' >{{item.ip}}</td>
           <td at-sortable  at-title='Action' width='150' >{{item.action}}</td>
           <td at-sortable  at-title='Schema Affected' width='150' >{{item.scheme_affected}}</td>
           <td at-sortable  at-title='Detail' width='150' >{{item.detail}}</td>
           <td at-sortable  at-title='Date' width='150' >{{item.date | date : 'MM-dd-yyyy'}}</td>
           <td at-sortable  at-title='Hour' width='150' >{{item.hour | date : 'HH:mm:ss'}}</td>
         </tr>
       </tbody>
     </table>
     <div class="col-md-6 col-md-offset-3" ><at-pagination ng-hide="preloader" at-list="AuditList" at-config="configTable"></at-pagination></div>
     <div class="row col-lg-offset-6 col-md-offset-6 col-xs-offset-6" ng-hide="!preloader"><i class="fa fa-spinner fa-spin fa-5x position-spinner"></i></div>
   </div>
</div>
