<div class="modal-header">
   <div class="pull-right">
     <button type="button" class="close pull-right" ng-click="$dismiss()">&times;</button>
   </div>
<div>
   <h3 class="modal-title" ng-if="!item._id">Create</h3>
   <h3 class="modal-title" ng-if="item._id">Edit</h3>
</div>
</div>
<div>
<form name="myForm" ng-submit="save()" method="POST">
   <div class="modal-body">
     <fieldset>
       <div class="row" ><div class="form-group col-md-12"><label for="disco" class="bold">DISCO</label><input  autofocus required name="disco" type="number" class="form-control"  ng-model="item.disco" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="placa" class="bold">PLACA</label><input  autofocus required name="placa" type="text" class="form-control"  ng-model="item.placa" ></div></div>
       <div class="row" hidden><div class="form-group col-md-12"><label for="csentados" class="bold">CSENTADOS</label><input  autofocus  name="csentados" type="number" class="form-control"  ng-model="item.csentados" ></div></div>
       <div class="row" hidden><div class="form-group col-md-12"><label for="cparados" class="bold">CPARADOS</label><input  autofocus  name="cparados" type="number" class="form-control"  ng-model="item.cparados" ></div></div>
       
       <div class="row">
         <div class="form-group col-md-12">
           <label for="marcas" class="bold">marcas</label>
           
           <ui-select required ng-model="item.marcas" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;" title="Select a marcas">
             <ui-select-match placeholder="Select a marcas">{{$select.selected.marca}} </ui-select-match>
             <ui-select-choices repeat="item._id as item in marcas | propsFilter: {marca: $select.search,}">
               <div ng-bind-html="item.marca | highlight: $select.search"></div>
             </ui-select-choices>
           </ui-select>
         </div>
       </div>
     </fieldset>
</div>
<div class="modal-footer">
   <button ng-disabled="myForm.$invalid || myForm.$pristine" class="btn btn-primary pull-right" type="submit" title="Save"><span ng-if="saving"><i class="fa fa-spinner fa fa-spin"></i>&nbsp;</span><span>Save</span></button>
</div>
</form>
</div>